

<div class="welcome-image-container">
  <%= image_tag "1200.jpg", class:"welcome-image" %>
  <div class="welcome-text-center">
  	<h1>Affordable, Accessible & Hands-on</h1>
  	<p>We put together the modules & materials so you can focus on the students</p>
  </div>
</div>

<br>
<br>

<div class="container">
	<div class="row">
		<div class="col-sm-6 col-md-6 col-lg-4">
			<%= image_tag "300.png", class:"welcome-module-image" %>
		</div>
		<div class="col-sm-6 col-md-6 col-lg-4">
			<h3>Learn the Fundamentals</h3>
			<p>Difficulty: Beginner</p>
			<p>Objective: Introduce computer science fundamentals to students with no background in computer science through engaging activey-base modules with Rasberry Pi</p>
			<p>Time: 1 day to 1 week</p>
			<button class="btn btn-primary">GO TO LESSON</button>
		</div>	
	</div>
</div>

<br>
<br>

<div class="container">
	<div class="row">
		<div class="col-sm-6 col-md-6 col-lg-4">
			<h3>Build a Robot Car</h3>
			<p>Difficulty: Intermediate</p>
			<p>Objective: Students will achieve a basic understanding of the fundamentals of robotics by observing how computer commands translate into physical movement using Python</p>
			<p>Time: 1 weeks to 4 weeks</p>
			<button class="btn btn-primary">GO TO LESSON</button>
		</div>	

		<div class="col-sm-6 col-md-6 col-lg-4">
			<%= image_tag "300.png", class:"welcome-module-image" %>
		</div>
	</div>
</div>

<br>
<br>

<div class="container">
	<div class="row">
		<div class="col-sm-6 col-md-6 col-lg-4">
			<%= image_tag "300.png", class:"welcome-module-image" %>
		</div>
		<div class="col-sm-6 col-md-6 col-lg-4">
			<h3>Build a Self Driving Robot Car</h3>
			<p>Difficulty: Advanced</p>
			<p>Objective: Build upon the Robot Car Lesson and add additional code to make the Robot Car autonomus.  Students will solidify their understading of Python</p>
			<p>Time: 2 weeks to 8 weeks</p>
			<button class="btn btn-primary">GO TO LESSON</button>
		</div>	
	</div>
</div>

<br>
<br>
