
<div class="center">
    
<div class="custom-tooltip">DC Motor<span class="custom-tooltiptext"><span class="bold">DC Motor </span>is any of a class of rotary electrical machines that converts direct current electrical energy into mechanical energy. The most common types rely on the forces produced by magnetic fields.</span></div>
</div>



<p id="example1"></p> 

<script type="text/javascript">
	
$('#example1').typeIt({
     strings: 'This is a simple string.',
     speed: 50,
     autoStart: false
});
</script>