<h1>Lessons</h1>
<p>check back later</p>


<div class="custom-container index-box">

	<hr>
	<h1 class="center gray">Fundamentals</h1>
	<hr>

	<!-- Module 1 -->
	<div style="width:300px">
		<div>
			<%= image_tag "300.png"%>
		</div>

		<div>
			<h2>GPIO Outputs</h2>
			<p>Learn the basics of GPIO pin usage on Raspberry Pi and how to manipulate them with Python</p>
		</div>
	</div>

	<!-- Module 2 -->
	<div style="width:300px">
		<div>
			<%= image_tag "300.png"%>
		</div>

		<div>
			<h2>Loops</h2>
			<p>Understand the concept and application of a loop and how to use a For loop</p>
		</div>
	</div>

	<!-- Module 3 -->
	<div>
		<div>
			<%= image_tag "300.png"%>
		</div>

		<div>
			<h2>Comparison Operators and Boolean Logic</h2>
			<p>Learn how Booleans fit as a conditional statement and how to use comparison operators</p>
		</div>
	</div>

</div>

