<div class="container">
	<h1 class="center">Robot Car</h1>
	<p class="center">Learn to Build a Robot Car using the programming language Python</p>
</div>

<br>
<br>

<div class="container">
	<div class="row">
		<div class="col-sm-6 col-md-6 col-lg-4 center">
			<%= image_tag "300.png", class:"welcome-module-image" %>
		</div>
		<div class="col-sm-6 col-md-6 col-lg-4 lesson-summary">
			<p><b>Difficulity:</b> Intermediate</p>
			<p><b>Objective:</b> Introduce computer science fundamentals to students with no background in computer science through engaging activey-base modules with Rasberry Pi</p>
			<p><b>Time:</b> 1 day to 1 week</p>
			<p class="bottom-z">
				<b>
				Materials:	
				</b>
				<ul>
					<li>Raspberry Pi&trade; (set up wirelessly with all exercise files)</li>
					<li>4WD Robot Car Chassis with motors and battery case</li>
					<li>L298N Motor Drive Controller Board Dual H-Bridge</li>
					<li>Male-to-Female/Male-to-Male/Female-to-Female Wires Set</li>
					<li>Portable Charger (with MicroUSB cable) at least 5V 700mA</li>
				</ul>
			</p>
			<p class="bottom-z">
				<b>
				Misc:	
				</b>
				<ul>
					<li>Screwdriver (smaller and regular)</li>
					<li>Electrical tape</li>
					<li>Wire stripper</li>
					<li>Scissors</li>
					<li>(At least) 4 AA Batteries</li>
				</ul>
			</p>
		</div>	
	</div>
</div>