<!-- Pop up image modal template -->
<div class="modal fade" id="enlargeImageModal" tabindex="-1" role="dialog" aria-labelledby="enlargeImageModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" style="border: none;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
        <img src="" class="enlargeImageModalSource" style="width: 100%;">
      </div>
    </div>
  </div>
</div>
<!-- End of image pop up modal -->




<!-- Bread Crumb -->
<div class="sticky">
	<ul class="breadcrumb" id="breadcrumb">
	  <li><%= link_to "Home", root_path %></li>
	  <li>Lessons</li>
	  <li><%= link_to "Robot Car", lesson_robot_car_path%></li>
	  <li>Module 3 - Defining Functions</li>
	</ul>
</div>
<!-- End of Bread Crumb -->


<!-- Title -->
<div class="container gray">
	<div class="center">
		<h1>Definding Functions</h1>
	</div>
</div>
<!-- End of Title -->

<br>
<br>
<br>

<!-- Modules -->
<div class="custom-container">
	<div class="third-lesson-box">
		<div class="white">
		<h2 class='lesson-title white'>Learning Goal</h2>
		<p>
			<ul>
				<li>Learn how to define functions in Python</li>
				<li>Learn how to pass a variable into a function</li>
				<li>Apply the truth table and GPIO pin syntax to create functions for directions for the car</li>
			</ul>
		</p>
		</div>
	</div>
</div>

<br>
<br>
<br>
<br>
<br>

<!-- Lesson Box -->
<div class="custom-container">
	<div class="primary-lesson-box">
		<div class="gray">
			<h1 class='lesson-title center gray'>Lesson & Syntax</h1>
			<p>Suppose you want to define a function that adds 10 to a number (let’s call this variable x) and prints the result. The syntax to define this function is as follows:</p>
			<p>
				<pre class="image-300" style="margin-left: 20px">def addTen(x):<br />	y=x+10<br />	print(y)<br />	return;</pre>
			</p>
			<p>The function can then be used later in the code. For example, to print the result of 5+10, you would write:</p>
			<p>
				<pre class="image-300" style="margin-left: 20px">addTen(5)</pre>
			</p>
			<p>Your code will print "15" when run.</p>
		</div>
	</div>
</div>

<br>
<br>
<br>

<!-- Lesson Box Prime-->
<div class="custom-container gray">
	<h1>Excercises</h1>
</div>

<div class="custom-container gray">
	<div class="second-lesson-box">
		<div class="gray">
			<h2 class='lesson-title gray'>Excercise 1: Define functions for moving the car forward and backward.</h2>
			<p>1. Connect the Raspberry Pi&trade; to the external battery.</p>
			<p>2. Use SecureShell to SSH into your Raspberry Pi&trade; to access its terminal (see steps XX)</p>
			<p>3. Open file <code>carfunctions.py</code> by using the command <code>sudo nano carfunctions.py</code></p>
			<p>4. Follow the instructions in red for “Exercise 1”. Refer to the Lesson & Syntax section if necessary.</p>
			<p>5. Save and exit the <code>carfunctions.py</code> file.</p>
			<p>6. Open file robot.py by using the command <code>sudo nano robot.py</code></p>
			<p>Follow the directions in red to call your functions.</p>
			<p>Save and execute your code.</p>
		</div>
	</div>
</div>


<br>
<br>

<!-- Lesson Box Prime-->
<div class="custom-container">
	<div class="second-lesson-box">
		<div class="gray">
			<h2 class='lesson-title gray'>Exercise 2: Define functions for moving the car left and right.</h2>
			<p>1. Open file <code>carfunctions.py</code> by using the command <code>sudo nano carfunctions.py</code></p>
			<p>2. Follow the instructions in red for “Exercise 2”. Refer to the Lesson & Syntax section if necessary.</p>
			<p>3. Save and exit the <code>carfunctions.py</code> file.</p>
			<p>4. Open file robot.py by using the command sudo nano <code>robot.py</code></p>
			<p>5. Type in the commands to have the car move forwards, turn left, move forward, turn right, and move forward.</p>
			<p>6. Save and execute your code.</p>
		</div>
	</div>
</div>

<br>
<br>
<br>
<br>


<!-- Lesson Box -->
<div class="custom-container">
	<div class="primary-lesson-box">
		<div class="gray">
		<h1 class='lesson-title center gray'>Time to celebrate.</h1>
		<p><i class="fa fa-hand-peace-o" aria-hidden="true"></i> Pat yourself on the back, give a classmate a high five!</p>
		<p><i class="fa fa-hand-paper-o" aria-hidden="true"></i> Check with the instructor you're good to proceed.</p>
		</div>
		<div class="center">
			<%= link_to "< Back to module 2", lesson_robot_car_motor_path, class:"custom-btn btn-second-invert" %>
			<%= link_to "Home >", root_path, class:"custom-btn btn-second-invert" %>
		</div>
	</div>
</div>

<br>
<br>

<!-- JavaScript for popup images -->
<script type="text/javascript">
$(function() {
	$('.pop-img').on('click', function() {
		$('.enlargeImageModalSource').attr('src', $(this).attr('src'));
		$('#enlargeImageModal').modal('show');
	});
});
</script>
