<div class="custom-container">
	<div class="primary-lesson-box">
		<h2 class='center lesson-title'>Before starting the modules</h2>
		<p>Download the Fundamental excercise</p>
		<p>Unzip the file(s)</p>
		<p class="center">
			<%= link_to "Download Files", download_fundamental_path, class:"custom-btn btn-primary-invert", alt: "download files" %>
		</p>
	</div>
</div>





<!-- Downloadable content -->
<div class="custom-container">
	<div class="primary-lesson-box">
		<h2 class='center lesson-title'>Before starting the modules</h2>
		<p>Download the Robot Car excercise</p>
		<p>Unzip the file(s)</p>
		<p class="center">
			<%= link_to "Download Files", download_robot_car_path, class:"custom-btn btn-primary-invert", alt: "download files" %>
		</p>
	</div>
</div>





