<h1 class="center">Contact Us</h1>
<br>

<div class="custom-container">
	
<p>Fill out the form below for ordering, contacts, additional quetions, comments, and/or demos.</p>

<%= render 'form', contact: @contact %>

</div>
