<h1 class="center gray">Contact Us</h1>

<div class="custom-container gray">
  <div>Fill out the form below to inquire more about CurricuPi and receive updates about our work. If you are interested in our curriculum kits, please note this in the general comment box below.
  </div>
</div>

<div class="custom-container gray">
	<%= render 'form', contact: @contact %>
	<!-- <%= link_to 'Back', contacts_path %> -->
</div>
