<h1 class="center gray">New subscriber</h1>
<br>
<br>
<div class="custom-container gray">
	<%= render 'form', subscriber: @subscriber %>
</div>


<% if false %>
<%= link_to 'Back', subscribers_path %>
<% end %>
