<br>
<br>
<div class="custom-container center gray">
	<h1>Frequently asked questions</h1>
</div>


<br>
<br>


<!-- Lesson Box -->

<div class="custom-container">
	<div class="primary-lesson-box">
		<div class="gray">
			<div><b>How much does your kit cost? </b></div>
			<div>We help customize the kit available to your classroom based on what you have available. We work with you on optimizing the cost of the kit. Please inquire with us so we can give you a quote.</div>
		</div>
	</div>
</div>
<br>

<div class="custom-container">
	<div class="primary-lesson-box">
		<div class="gray">
			<div><b>Where do you operate?</b></div>
			<div>We are based out of the San Francisco, CA - Bay Area. If you are located outside of the area, please inquire with us about how we can help you get started.</div>
		</div>
	</div>
</div>
<br>

<div class="custom-container">
	<div class="primary-lesson-box">
		<div class="gray">
			<div><b>Do you offer anything else except Raspberry Pi?</b></div>
			<div>As of right now, we are focused on Raspberry Pi&trade; modules. We intend to expand our content to give educators a variety in topics and methods to enable project-based learning models in the classroom.</div>
		</div>
	</div>
</div>
<br>

<div class="custom-container">
	<div class="primary-lesson-box">
		<div class="gray">
			<div><b>How do I buy a kit from you?</b></div>
			<div>If you are interested, please email us at curricupi@gmail.com. Give us details about yourself (classroom size, grade level) and we will contact you.</div>
		</div>
	</div>
</div>
<br>

<div class="custom-container">
	<div class="primary-lesson-box">
		<div class="gray">
			<div><b>As a teacher, I still don’t quite understand how to use the product. What can I do?</b></div>
			<div>If you still have questions about the curriculum and content, please email us with your questions or comments. Your feedback is very important to us. </div>
		</div>
	</div>
</div>
<br>

<div class="custom-container">
	<div class="primary-lesson-box">
		<div class="gray">
			<div><b>As a student, I still don’t quite know how to use the product. What can I do?</b></div>
			<div>If you still have questions about the curriculum and content, please email us (Insert hyperlink) and we will get back to you. Your feedback will help us further improve our product for other students who use CurricuPi’s products.</div>
		</div>
	</div>
</div>
<br>

<div class="custom-container">
	<div class="primary-lesson-box">
		<div class="gray">
			<div><b>As a parent, could I get a kit for home use?</b></div>
			<div>We are glad that you are hoping to bring this kit into your home. Please email us and we can see send you your our kit.</div>
		</div>
	</div>
</div>
<br>

<div class="custom-container">
	<div class="primary-lesson-box">
		<div class="gray">
			<div><b>I am a technology hobbyist, but want to buy your kit separately. Is that possible?</b></div>
			<div>Thanks for expressing interest in our product! Please email us and we can send you one of our kits to get started.</div>
		</div>
	</div>
</div>
<br>

<div class="custom-container">
	<div class="primary-lesson-box">
		<div class="gray">
			<div><b>Why Python and why RaspberryPi&trade;?</b></div>
			<div>We believe that we should be teaching skills that are widely used today in top tech industry.  Python is a very easy to understand scripting language that is the most closely resemble English.  RaspberryPi are very universal and could be used to create an enless possiblity of projects.</div>
		</div>
	</div>
</div>
<br>

<div class="custom-container">
	<div class="primary-lesson-box">
		<div class="gray">
			<div><b> </b></div>
			<div> </div>
		</div>
	</div>
</div>
<br>

