<br>
<br>
<div class="custom-container center gray">
	<h1>Frequently asked questions</h1>
</div>


<br>
<br>


<!-- Lesson Box -->
<div class="custom-container">
	<div class="primary-lesson-box">
		<div class="gray">
			<div><b>Why we use Python?</b></div>
			<div>Python is an awesome scripting language.  It is being used today by top companies to make web applications, robotic devices, testing hardwares, and an endless possibilty.  As a scripting language it one of the most simpliest and most resemble to english.</div>
		</div>
	</div>
</div>
<br>

<div class="custom-container">
	<div class="primary-lesson-box">
		<div class="gray">
			<div><b>What do we think of scratch and html & CSS?</b></div>
			<div>Scratch is a great starter programing language and you learn how to program small applications.  HTML & CSS is also a great language to learn as well, that is must for the web.  However these languagues are very limited to what they can do, we want to choose a language that could be used for multiply application.</div>
		</div>
	</div>
</div>
<br>

<div class="custom-container">
	<div class="primary-lesson-box">
		<div class="gray">
			<div><b>Will we offer more lanugages?</b></div>
			<div>We would love to offer more progaming languages.  At this time we still have more curriculum on the RaspberryPi&trade; we want to provide before we move on to the next language.</div>
		</div>
	</div>
</div>
<br>

<div class="custom-container">
	<div class="primary-lesson-box">
		<div class="gray">
			<div><b>What is our favorite cereal?</b></div>
			<div>We haven't eaten cereal, if we have to choose it would be cookie crisp because it's just like eating cookies with milk.</div>
		</div>
	</div>
</div>
<br>


