<div class="custom-container">
	<h1 class="center gray">Our Mission</h1>
</div>

<br>
<br>
<br>

<div class="custom-container">
	
	<p>To prepare for a changing global environment driven by science and technology, our youth requires an education tailored for the future. According to the United States Department Bureau of Labor Statistics, demand for software developers is expected to grow by 17% by 2024. By 2020, approximately 1.4 million computer-science-based jobs will be available, but only one-third of college graduates will be able to fill these roles. Thus, the discussion around education and technology needs to change in order to bridge the knowledge gap.
</div>
*Vivien to finish filling in text for mission here*
</p>