<div class="custom-container gray">
	<h1 class="center">What we offer?</h1>
</div>

<br>
<br>
<div class="container gray">
	<div class="row">
		<div class="col-sm-6 col-md-6 col-lg-6">
			<h3 class="">Why we do what we do?  How we choose what we choose?</h3>
			<p>We believe that we should be teaching programming languages that is being used today, easy to learn, could be used to create web, robotic and many other applications out there.</p>
		</div>	
		<div class="col-sm-6 col-md-6 col-lg-6">
			<%= image_tag "python.jpg", class:"pop-up team-pic" %>
		</div>
	</div>
</div>

<br>
<br>

<div class="container gray">
	<div class="row">
		<div class="col-sm-6 col-md-6 col-lg-6">
			<%= image_tag "what_we_offer2.jpg", class:"pop-up team-pic" %>
		</div>
		<div class="col-sm-6 col-md-6 col-lg-6">
			<h3 class="">Free, fun and accessible</h3>
			<h3>Curriculums</h3>
			<p>Use our free resources on RaspberryPi&trade; application developed by CurricuPi to frame a curriculum and ring a hands-on approach of learning computer science into your classroom or after-school group.</p>
			<br>
	  	<a class="custom-btn btn-primary-invert">See Lesson</a>
		</div>	
	</div>
</div>

<br>
<br>

<div class="container gray">
	<div class="row">
		<div class="col-sm-6 col-md-6 col-lg-6">
			<h3 class="">Customized kit just for you</h3>
			<p>While the required materials for each curriculm can be found on our site, the set-up and organization of materials can be time consuming.  In order to address the issue, CurricuPi can setup a curriculum kit customized to your needs is ready-for-use right out of the box.</p>
			<br>
	  	<a class="custom-btn btn-primary-invert">Contact us</a>
		</div>	
		<div class="col-sm-6 col-md-6 col-lg-6">
			<%= image_tag "what_we_offer3.jpg", class:"pop-up team-pic" %>
		</div>
	</div>
</div>

<br>
<br>


<div class="custom-container center gray">
	<h2>Check out our previous events</h2>
	<p>	
	Summer 2017 Raspberry Pi Coding Class in Richmond, CA
	</p>
	<iframe src="https://player.vimeo.com/video/224855547" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
</div>