/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets"
@import "bootstrap"


/* Light green */
$primary-color: #ade3d8

$primary-color-dark: #57C7B1

/* Light Blue */
$second-color: #bfd0f1

$second-color-dark: #7D9FE6

/* Darker Blue */
$third-color: #7ea0e4

/* Light Orange */
$forth-color: #f3e1ae

/* Dark Green */
$fifth-color: #57C7B1

/* White */
$white: #FFFFFF

/* Light Gray */
$soft-gray: #606060

/* Dark Gray */
$dark-gray: #484848






/* Fonts */
/* Fonts */
/* Fonts */

/* Prime Font */
*
	font-family: 'Roboto', sans-serif

.bold
	font-weight: 900
	color: $dark-gray

/* End */
/* of */
/* Fonts */


.color-primary
	color: $primary-color

.color-second
	color: $second-color

.color-second-dark
	color: green

.color-third
	color: $third-color

.navbar
	margin-bottom: 0

.sticky
	position: sticky

.gray
	color: $soft-gray

.white
	color: $white

.custom-container
	width: 85%
	margin: auto

.logo-header
	img
		margin-top: -13px
		height: 40px


/* breadcrumb */
ul.breadcrumb
	padding: 10px 16px
	list-style: none
	background-color: #eee

/* Display list items side by side */
ul.breadcrumb li
	display: inline
	font-size: 18px

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before
	padding: 8px
	color: black
	content: "/\00a0"

/* Add a color to all links inside the list */
ul.breadcrumb li a 
	color: #0275d8
	text-decoration: none

/* Add a color on mouse-over */
ul.breadcrumb li a:hover 
	color: #01447e
	text-decoration: underline