@import "application.css.sass"

.image-background-container
	position: relative
	text-align: center
	color: white

.center
	text-align: center

.code
	color: red

.custom-table
	border-collapse: collapse
	width: 100%
	color: $soft-gray

	tr
		th
			border: 1px solid $soft-gray
			text-align: center
			font-size: 20px

	tr
		td
			border: 1px solid $soft-gray
			text-align: center
			font-size: 16px