@import "application.css.sass"

.lesson-box-green
	background-color: $primary-color
	border-radius: 10px
	width: 90%
	margin: auto
	padding: 20px 20px


.lesson-box-blue
	background-color: $second-color
	border-radius: 10px
	width: 90%
	margin: auto
	padding: 20px 20px

.lesson-box-dark-blue
	background-color: $third-color
	border-radius: 10px
	width: 90%
	margin: auto
	padding: 20px 20px

.lesson-text
	color: $third-color
	font-size: 20px
	font-weight: bold

.lesson-title
	margin-top: 7px
	color: #505050

.lesson-summary
	font-size: 12px
	margin: 0

.concept
	border-style: solid 
	border-width: 2px
	border-color: $soft-gray

.carousel-inner
	.item
		img
			margin: auto
			width: 50%
			height: 50%

.bottom-z
	margin-bottom: 0







