$light-green: #b3e6cc
$light-blue: #b3d9ff
$darker-blue: #4da6ff

.lesson-box-green
	background-color: $light-green
	border-radius: 10px
	width: 80%
	margin: auto
	padding: 20px 20px

.lesson-box-blue
	background-color: $light-blue
	border-radius: 10px
	width: 80%
	margin: auto
	padding: 20px 20px

.lesson-text
	color: $darker-blue
	font-size: 20px
	font-weight: bold

.lesson-title
	margin-top: 7px
	color: #505050

.lesson-summary
	font-size: 12px
	margin: 0

.bottom-z
	margin-bottom: 0







