@import "application.sass"

.custom-tooltip
    position: relative
    display: inline-block


/* Tooltip down  */
.custom-tooltip .custom-tooltiptext-down
    visibility: hidden
    width: 220px
    background-color: $primary-color
    color: gray
    text-align: left
    border-radius: 7px
    padding: 5px 10px
    position: absolute
    z-index: 1
    top: 150%
    right: 30%
    margin-left: -60px
    opacity: 0
    transition: opacity 1s

.custom-tooltip .custom-tooltiptext-down::after
    content: ""
    position: absolute
    bottom: 100%
    left: 50%
    margin-left: 30%
    border-width: 10px
    border-style: solid
    border-color: transparent transparent  $primary-color transparent

.custom-tooltip:hover .custom-tooltiptext-down
    visibility: visible
    opacity: 1

/* Tooltip Up  */

.custom-tooltip .custom-tooltiptext-up
    visibility: hidden
    width: 220px
    background-color: $primary-color
    color: gray
    text-align: left
    border-radius: 7px
    padding: 5px 10px
    position: absolute
    z-index: 1
    bottom: 150%
    right: 30%
    margin-left: -60px
    opacity: 0
    transition: opacity 1s

.custom-tooltip .custom-tooltiptext-up::after
    content: ""
    position: absolute
    top: 100%
    left: 50%
    margin-left: 30%
    border-width: 10px
    border-style: solid
    border-color: $primary-color transparent transparent  transparent

.custom-tooltip:hover .custom-tooltiptext-up
    visibility: visible
    opacity: 1


@media screen and (max-width: 400px)

    .custom-tooltip .custom-tooltiptext-up
        visibility: hidden
        width: 220px
        background-color: $primary-color
        color: gray
        text-align: left
        border-radius: 7px
        padding: 5px 10px
        position: absolute
        z-index: 1
        bottom: 150%
        left: 100%
        margin-left: -60px
        opacity: 0
        transition: opacity 1s


    .custom-tooltip .custom-tooltiptext-up::after
        content: ""
        position: absolute
        bottom: 100%
        left: -30%
        margin-left: 30%
        border-width: 10px
        border-style: solid
        border-color: $primary-color transparent transparent  transparent